<div class="container">
  <h1>Hey!</h1>
  <p>Thanks for signing up and checking us out.</p>
  <p>We're sorry for the inconvenience but we want to provide the best experience possible.</p>
  <p>We are still in a beta phase for testing.</p>
  <p>If you'd like to test us out and give some feedback send an email to me at boone.garrett@gmail.com</p>
<%= render "refills/side_image" %>
</div>
