<fieldset id='skill-search-box'>
    <h4 id="inner-logo-text" class="left"> Skill Climb </h4>
    <h4 id="inner-logo-text" class="right"> Learn & Earn </h4>
    <%= render partial: "refills/search_bar", locals: {button_text:"Search Skill Requests", is_remote:true, action: "/skill_requests"} %>
    <p>Can't find a skill you want to teach? <%= link_to "Create One!", new_skill_path, method: :get %>
    <p>Wanna request something for yourself? <%= link_to "Post a Skill Request", new_skill_request_path, method: :get %>
</fieldset>
<div class="dashboard_container cards-container">
<%= render "refills/cards" %>
</div>
