<fieldset id='skill-search-box'>
    <%= render partial: "refills/search_bar", locals: {button_text:"Search Skill Requests", is_remote:true, action: "/skill_requests"} %>
</fieldset>
<div class="dashboard_container cards-container">
<%= render "refills/cards" %>
</div>
