.accordion-tabs-minimal {
  $tab-border-color: black;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-border-color;
  $tab-inactive-color: $base-accent-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-bottom: $base-line-height;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-line-height/2 $gutter;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: white;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;
      color:white;
      @include media($tab-mode) {
        // border: $tab-border;
        box-shadow:1px 1px 1px black;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    @include span-columns(12);
    display: none;
    padding: $base-line-height $gutter;

    @include media($tab-mode) {
      // border-top: $tab-border;
      float: left;
    }
  }
}
