.hover-tile-outer {
  $hover-tile-height: 8em;

  background-position: bottom;
  background-size: cover;
  background: url("/images/mountains.png");
  background-size: cover;
  // background-color: #BEB56E;
  background-color: white;
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  margin-left: 3px;;
  cursor: pointer;
  float:left;
  @include media($medium-screen) {
    width: 33%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background:inherit;
    color: white;
    height:inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible {
    .title{
      font-size:1.2em;
    }
    color: transparentize(black, .3);
    font-size: .8em;
    font-weight: 200;
    padding-top: 2em;
    text-align: center;
  }

  .hover-tile-hidden {
    background: transparentize(black, .5);
    font-size: .7em;
    h4 {
      margin-bottom: .5em;
    }
    p {
      color: transparentize(white, .3);
    }
  }
}
