<div id="archived">
  <h6 class="title">
    <i class="toggle-info fa fa-chevron-circle-up"></i>Archived Skills
  </h6>
  <ul class="toggle-content">
    <% @archived_skills.each do |skill| %>
      <li>
        <h6>
          <%    path = skill_path(skill)
                edit_path = edit_skill_path(skill) %>
          <%=link_to item_title_link(skill) {|s| s.title}, skill_path(skill) %>
          <%= link_to edit_path do %>
            <i class="fa fa-gear"></i>
          <% end %>
        </h6>
        <h6 class="category">
          <%= dash_item_categories(skill.categories) %>
        </h6>
      </li>
    <%end%>
  </ul>
</div>