<div class="dashboard_container user-container">
  <%= render "refills/skill_form" %>
  <div class='form-description raised-box-content'>
    <div class='content'>
      <h4 class='subject'>Edit all you wish!</h4>
    </div>
  </div>
  <!-- <%= render 'refills/categories' %> -->
</div>
