<div class="dashboard_container">
<fieldset id='skill-search-box'>
    <%= render "refills/search_bar" %>
</fieldset>
</div>
<!-- <div class='cards-container'> -->
<div class="dashboard_container cards-container">
<%= render "refills/cards" %>
</div>
<!-- </div> -->
