<fieldset id='skill-search-box'>
      <!-- <h4 class='title'> <%= @skills.first.class.model_name.human + 's' if !@skills.empty? %> </h4> -->
    <%= render partial: "refills/search_bar", locals: {button_text: "Search Skills", is_remote:true, action: '/skills'} %>
</fieldset>
<div class="dashboard_container cards-container">
<%= render "refills/cards" %>
</div>
