<div class="center" id='logo-and-tabs'> 
  <div id="dash-logo">
    <a href="/">
      <img src="http://33.media.tumblr.com/f2033cae50aa722d209ad106b6b89f4f/tumblr_mfspw6aC0I1rha3vbo1_1280.png" width='65px', height='65px' ></img>
      <span class="logo-text">Skill-Climb.com</span>
    </a>
  </div>
</div>
<div class="dashboard_container raised-center">
  <%= render 'dashboards/dashboard' %>
</div>
