<div class="center" id='logo-and-tabs'> 
  <div id="dash-logo">
    <a href="/">
      <%= image_tag("skillclimb-logo.png", width:'65px', height:'65px' )%>
      <span class="logo-text">SkillClimb.com</span>
    </a>
  </div>
</div>
<div class="dashboard_container raised-center">
  <%= render 'dashboards/dashboard' %>
</div>
