<%= render 'skills/skill_intro' %>
<div class='skill-container'>
<h4>Communicate with your apprentice/teacher here</h4>
<p>You can leave comments or change the scheduled time and place you'd like to meet.</p>
<%= render 'skills/skill_bio' %>
<%= render 'apprenticeships/edit_date_or_location' %>
</div>

