/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datetimepicker.min
 *= require select2
 *= require_self
 */
 @import "bourbon";
 @import "sass/base/base";
 @import "neat";
 @import "font-awesome";
 @import "refills/navigation";
 @import "refills/hero";
 @import "refills/icon_bullet_points";
 @import "refills/footer";
 @import "refills/cards";
 @import "refills/search_bar";
 @import "refills/grid_items";
 @import "refills/side_image";
 @import "refills/tooltip";
 @import "refills/user_dash_main";
 @import "refills/calendar_grid";
 @import "refills/comment";
 @import "refills/hover_tile";
 @import "refills/browser";
 @import "refills/notifications";
 @import "refills/notification_modal";
 @import "refills/notification";
 @import "skills";
 @import "dashboard";
 @import "apprenticeship";


// all custom stuff should go in here or in the refills/* stylesheets dont mess with anything under sass/*
// maybe make a custom/* folder with all custom things.
body{
  // overflow-x:hidden;
}
button.danger{
  @include button(simple, red);
}

.select2.categories .select2-choices{
  margin: 0em !important;
  font: -webkit-small-control !important;
  color: initial !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  display: inline-block !important;
  text-align: start !important;
  transition: border-color !important;
  background-color: white !important;
  border-radius: 0.1875em !important;
  border: 1px solid #dddddd !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06) !important;
  font-family: Raleway !important;
  font-size: 0.7em !important;
  width: 100% !important;
.select2-search-field input {
  font-family: Raleway !important;
  font-size: 0.7em !important;
  }
}
.filterDrop{
  font-family: Raleway !important;
  font-size: 0.7em !important;
}

.filter input[type="text"]{
  min-height: 26px;
}

.uppercase{
  text-transform: uppercase;
}

 $sign-up-height:100%;
 body{
  @include span-columns(12);
  margin:0px;
 }

 //Get Rid of datepicker showing at bottom of pages
 .bootstrap-datetimepicker-widget { display: none; }

 .sign-up-wrap{
  // @include span-columns(12);
  height:$sign-up-height;
  // background-color:#EFEDDF;
 }

  fieldset.sign-up{
    background:none;
  }

.dashboard_container.user-container{
  @include outer-container;
  margin-top:5%;
  background:url(https://raw.github.com/Magnus-G/Random/master/lake-transparent.png) no-repeat center center fixed;
  background-color:#4b7e91;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// .sign-up-container{
  // max-width: 50em;
// }

 .sign-up{
  font-size:1em;
  float:left;
  color:white;
  height:$sign-up-height;
  // background-color:#EFEDDF;
  border: none;
  margin:0px;
  // @include span-columns(4);
  a{
    color:white;
    font-weight:bold;
    &:hover{
      text-decoration: underline;
    }
  }
 }

 .raised-box-content{
  @include outer-container;
  font-size:1em;
  height:$sign-up-height;
  // margin-right:0px;
  color:$base-body-color;
  min-width:600px;
  text-align: left;
  padding:25px;
  .content{
    // @include outer-container;
    // @include span-columns(3);
    color:white;
    padding:2em;
    font-weight:bold;
    .subject{
      color:$base-accent-color;
    }
  }
  // @include span-columns(8);
 }

 .small-info{
  font-size:.7em;
  color:$base-font-color;
  font-style: italic;
 }


 .text-link{
    color:$base-accent-color !important;
    &:hover{
      color:white !important;
    }
 }

 .error{
  color:red;
  font-weight:bold;
  font-size:.8em;
 }

 .form-description{
  color: black;
  font-weight: bold;
  padding:2em;
 }

.table-minimal .date .input-group-btn{
  float:left;
}

.apprenticeship-show-header{
  @include outer-container;
  text-align:center;
}

.sign-in-ad{
  float:right;
  padding: 20px;
}

.no-results{
  text-align: center;
  @include outer-container;
  img{
    height:200px;
    width:200px;
  }
}

#inner-logo-text{
  font-family: 'Lobster', cursive;
  color:white;
  opacity: 0.2;
  text-shadow: 1px 1px 1px black;
  &.left{
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  float:left;
  // @include span-columns(1);
  // @include shift();
  }
  &.right{
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  float:right;
  // @include span-columns(1);
  // @include shift(10);
  }

}
 // .sign-out-btn::before{
  // content: "Watqsdf";
 // }/
