// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // background:url(https://raw.github.com/Magnus-G/Random/master/lake-transparent.png) no-repeat center center fixed;
  @include Gradient;
  // background-color:#67bcdb;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#dash-logo{
  position:relative;
}
.logo-text{
  position:absolute;
  font-size:1.25em;
  top:16px;
  text-shadow:1px 1px 1px black;
}
#logo-and-tabs{
  @include outer-container;  
}
.dashboard_container{
  &.raised-center{
    @include outer-container;
  }
  // @include outer-container;
  // margin:15px auto 15px auto;
  // background-color:rgba(255,255,255,0.75);
  // background-color:white;
  background:transparentize($base-body-color, .5);
  height:100%;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  &.sign-up-container{
    max-width: 50em;
  }
}
.dashboard{
  .title{
    padding:5px;
    text-decoration: none;
  }
  @include outer-container;
  padding:30px 0px 30px 0px;
  .headline{
    font-weight: bold;
  }
  // #selected_content .row .toggle-info{
    // float:right;
  // }
}

.sidebar{
  @include outer-container;
  @include span-columns(3);
  border-left-width: 0;
  border-right-width: 0;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2);
  font-size: .75em;
  color: black;
  font-weight: normal;
  position: relative;
  // border:black thin solid;
  .title-action{
    float:right;
  }
  ul{
    margin:10px;
    li{
      h6{
        font-size:1em;
        padding:.6em;
      }
    .category{
      color:gray;
      border-bottom:black thin solid;
    }
      span{
        // display: block;
        height: .6em;
        width: .6em;
        // line-height: 60px;

        -moz-border-radius: .3em; /* or 50% */
        border-radius: .3em; /* or 50% */
        margin:.2em;
        padding:.3em;
        color: white;
        text-align: center;
        &.tooltip-item{
          border:none;
        }
      }
      span.earning,span.learning{
         background-color: $bullet-background;
        }
      span.status-confirmed{
        &:before{
          font-family:FontAwesome;
          color:green;
          content:"";
        }
        }
      span.status-pending{
        &:before{
          font-family:FontAwesome;
          color:gold;
          content:"";
        }
      }
      span.status-denied{
        &:before{
          font-family:FontAwesome;
          color:red;
          content:"";
        }
      }
    }
  }

  .title{
      padding:5px;
      font-size:1em;
      // border-bottom:black thin solid;
      text-decoration: none;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
      background: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
  }
  .side-info{
    padding:2px;
  }
}
