// Place all the styles related to the skills_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skill-container-transparent{
  @include outer-container;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  color:black;
  margin-top: 1em;
  .categories{
    padding:10px;
    font-size:.75em;
    @include shift(1);
  }
}

.skill-intro{
  @include outer-container;
  min-height:150px;
  background:url("mtn.png");
  // background:transparentize(white, .4);
  background-size:100% 100%;
  .info{
    *{
      line-height:2em;
    }
    .taking-true{
      &:before{
        font-family:FontAwesome;
        color:green;
        content:"";
      }
    }
    .creator-true{
      &:before{
        font-family:FontAwesome;
        color:green;
        content:"";
      }
    }
    font-size:.75em;
    padding:10px;
    float:left;
    @include shift(1);
    @include span-columns(8);
  }
  .profile-image{
    font-size:.75em;
    float:right;
    padding:10px;
    img{
     height:100px;
    }
  }
  .skill-creator{
    padding:1em;
    // @include shift(1);
    // @include span-columns(12);
  }
}
.skill-container{
  @include outer-container;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  // background:transparentize(white, .4);
  background:whitesmoke;
}

.skill-bio{
  @include outer-container;
  @include span-columns(4);
  @include shift(1);
  padding:1em;
  font-size:.75em;
  // background:transparentize(white, .3);
  button{
    font-size:.50em;
    @include media($medium-screen-up){
      font-size:1em;
  }
  }
}

.title{
  text-decoration: underline;
}

.comments-and-recent{
  @include span-columns(6);
  @include shift(1);
  margin-right:0px;
  .comments{
    font-size: .75em;
  }
  ul{
    // border-left: solid gray 1px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    li{
      font-size:.75em;
      padding:1em;
      border-bottom:dashed 1px gray;
      &:last-child{
        border-bottom:none;
      }
    }
  }
  padding:1em;
}

.skill-comments{
  @include span-columns(10);
  @include shift(1);
  clear:both;
  font-size:.75em;
}

#new_apprenticeship_true,
#new_apprenticeship_false{
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  padding:10px;
  background-color:white;
  #apprenticeship_request_description{
    height:200px;
  }
}

.bootstrap-datetimepicker-widget{
  background-color: #f5f5f5;
  font-size:.5em;
}

#new_skill .form-fields{
  @include outer-container;
  @include span-columns(4);
}

#new_skill .form-tips{
  float:left;
  @include span-columns(4);
}

#skill_full_description{
  height:150px;
}
.recent-apprentices{
  ul{
    // background:transparentize(white, .4);
  }
}
