<div class="modal" id='about-show'>
  <input class="modal-state" id="about" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="about"></label>
      <h1> About </h1>
    </div>
  </div>
</div>

