<div class="cards">
  <% if @skills.empty? %>
    <%= render "refills/no_results" %>
  <% else %>
    <%= render :partial => 'refills/card', :collection => @skills, as: :skill %>
    <%= will_paginate @skills %>
  <% end %>
</div>

