<div class="modal" id='contact-us-show'>
  <input class="modal-state" id="contact-us" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="contact-us"></label>
      <!-- <fieldset> -->
        <input type="text" placeholder="Email"></input>
        <textarea placeholder="Let us know what you're thinkin.">
        </textarea>
        <input type="submit" value="Send"></input>
      <!-- </fieldset> -->
    </div>
  </div>
</div>
