<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <!-- <h1>Grid Item</h1> -->
    <p>Your lawnmower breaks down and you don't know how to fix it.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <!-- <h1>Grid Item</h1> -->
     <p>You check out SkillClimb and search for categories such as repair & lawn maintenance.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <!-- <h1>Grid Item</h1> -->
    <p>Brian's Profile comes up. His bio says that he can fix nearly anything and has great reviews.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <!-- <h1>Grid Item</h1> -->
    <p>You and Brian set up a time and place to meet </p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <!-- <h1>Grid Item</h1> -->
    <p>Two smart fellas like you figure it out within about 30 minutes and go buy the parts.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <!-- <h1>Grid Item</h1> -->
     <p> You fix your lawnmower together, pay Brian what was on the skill description, and in a few hours you've learned a new skill and Brians made some cash.</p>
  </a>
</div>
