<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item grid-item-full grid-item-image">
    <!-- <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt=""> -->
    <h1>Help others complete projects or learn new skills.</h1>
    <h1>Earn some dough for your time & helping out your fellow SkillClimber.</h1>
    <p> Add your skills or hobbies for people to search for you.</p>
    <p>Don't worry We'll walk you through the rest. It's basically those three little steps below.</p>
    <button>Add Your Skills</button>
  </a>
</div>
