<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag("http://33.media.tumblr.com/f2033cae50aa722d209ad106b6b89f4f/tumblr_mfspw6aC0I1rha3vbo1_1280.png")%></a>
		<div class="hero-copy">
			<h1>Welcome To SkillClimb</h1>
			<p>Learn By Doing $ Earn by Sharing</p>
      <p>Skill Climb allows people in the same area to connect,learn, and make some cash.</p>
		</div>
    <%= button_to "Get Started", new_user_registration_path, method:"get" %>
	</div>
</div>
