<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
    </div>
    <div class="bullet-content">

      <!-- <h2>This Bullet Title</h2> -->
      <h2>FIRST AND FOREMOST</h2>
      <h5>We want to help others learn</h5>
      <p>We aim to create a place where people who want to learn a skill, or need help on a project, can get that help from real live people.
      <p>Not Online. Not School.</p>
      <p>In Person. Hands-On. Real Projects.</p>
      </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>FORM RELATIONSHIPS</h2>
      <p>We want people to form an apprentice and master type relationship that can develop into a great learning environment.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>EARN CASH</h2>
      <p>Those who are offering to help others with projects or teach new skills can set an amount for what they believe their time is worth. Being paid to do what you love just became a real thing for a lot of people.</p>
    </div>
  </div>
</div>
