<div class="bullets earning">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <%= fa_icon 'plus-square 2x'%>
      <!-- <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt=""> -->
    </div>
    <div class="bullet-content">

      <!-- <h2>This Bullet Title</h2> -->
      <h2>Add Your Sweet Skills</h2>
      <p>Whatever you're good at, or do for a hobby and want to show others post it on here!</p>
      <p>You'll be helping others and that will make you feel good. So will the extra cash for that bar tab this Saturday.</p>
      </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <%= fa_icon 'dot-circle-o 2x'%>
      <!-- <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_3.png" alt=""> -->
    </div>
    <div class="bullet-content">
      <h2>Set Your Price</h2>
      <p>Set what you think you're time is worth to teach someone that amazing skill per hour. or 1/2 hour. It's up to you. There's a few more options, but we'll ask you about those in a sec.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <%= fa_icon 'beer 2x'%>
      <!-- <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_4.png" alt=""> -->
    </div>
    <div class="bullet-content">
      <h2>Sit Back</h2>
      <p>Just hang out and have people contact you to teach them the things you love.</p>
    </div>
  </div>
</div>
