<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <%= fa_icon 'graduation-cap 2x'%>
    </div>
    <div class="bullet-content">
      <h2 class='uppercase'>help others learn</h2>
      <p>We aim to create a place where people who want to learn a skill, or need help on a project, can get that help from real live people.
      <p>Not Online. Not School.</p>
      <p>In Person. Hands-On.</p>
      <p>Real Projects. Real People</p>
      </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <%= fa_icon 'users 2x'%>
    </div>
    <div class="bullet-content">
      <h2>FORM RELATIONSHIPS</h2>
      <p>We want people to form a relationship that fosters a great learning environment.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <%= fa_icon 'dollar 2x'%>
    </div>
    <div class="bullet-content">
      <h2>EARN CASH</h2>
      <p>Those who are offering to help others with projects or teach new skills can set an amount for what they believe their time is worth.</p>
    </div>
  </div>
</div>
