
<div class='no-results'>
  <h5> Sorry, no results found.</h5>
  <p> Try searching a surrounding city, or different categories.</p>
  <img src="http://image.spreadshirt.com/image-server/v1/designs/10836588,width=178,height=178/No-One-Likes-a-Sad-Panda.png"></img>
</div>



