<div class="notification-container">
  <% notifications.each do |notification| %>
<div class="notification">
  <div class="notification-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="notification-content">
    <h1><%= notification.title %></h1>
    <p><%= notification.description %></p>
    <%= button_to "Go to #{notification.notifiable.class.to_s}",url_for(notification.notifiable), method: "get" %>
    <p class="notification-detail"><%= notification.updated_at %></p>
  </div>
</div>
<% end %>
</div>
