<div class="skill-climb-logo-text">
  <%= image_tag("skillclimb-logotext.png") %>
</div>
<div class="side-image example-climb">
    <div class="images-wrap"></div>
    <div class="content">
      <h4>A Simple Example</h4>
      <h1>Example of how SkillClimb works.</h1>
      <%= render "refills/grid_items_example_skill" %>
  </div>
</div>

<div class="side-image learning-and-teaching">
  <div class="content">
    <h4>Learning and Teaching</h4>
    <h1>We want people to learn new things. In person.</h1>
    <p>The main goal of SkillClimb is to allow people who have a need or a drive to learn something new to have a place where they can find others who can teach them those skills on real projects.</p>
    <p>Even if it's not necessarilly a 'skill' but a watch me then you do it. Ie: I would love to go mountain biking at every cool place in my city but don't know where the good trails are. Maybe someone on here could take you out for a day.</p>
      <p> There are tons of tutorials and how to's on youtube, or even great hands on interactive tutorials, but nothing compares to learning while doing with a person right next to them showing the best practices and correcting their mistakes before they become dangerous habits.</p>
    </div>
    <!--<div class="images-wrapper"></div>-->
  </div>
  <div class="side-image whats-on-here">
    <!--<div class="images-wrapper"></div>-->
  <div class="content">
    <h4>What Should Be on Here?</h4>
    <h1>Take on new projects. Learn new skills</h1>
    <p>We don't want people to only learn and teach things that you commonly see tutorials for on the internet like web development or how to play guitar.We want those plus anything you can think of that you'd like to learn. ie: Cooking the perfect meatballs, Laying Tile, Shooting a bow and arrow</p>
      <p> When we say anything we mean it. We'd like to see people learning small projects like <i>"Teach me to do a kickflip on a skateboard"</i> to the big ones such as <i>"My engine fell out of my car and I want someone to show me how to fix it because it happens every week.</i> We hope this is not the case, but if it is that someone will offer to help. Guitar lessons and web development definitely should be in here but we would like people to be as creative as possible of what they can show others.</p>
    </div>

  </div>

