<div class="side-image learning-and-teaching">
  <div class="images-wrapper"></div>
  <div class="content">
    <h4>Learning and Teaching</h4>
    <h1>We want people to learn new things. In person.</h1>
    <p>The main goal of SkillClimb is to allow people who have a need or a drive to learn something new to have a place where they can find others who can teach them those skills on real projects.
      <p> There are tons of tutorials and how to's on youtube, or even great hands on interactive tutorials, but nothing compares to learning while doing with a person right next to them showing the best practices and correcting their mistakes before they become dangerous habits.</p>
    </div>
  </div>
  <div class="side-image whats-on-here">
  <div class="content">
    <h4>What Should Be on Here?</h4>
    <h1>Take on new projects. Learn new skills</h1>
    <p>We don't want people to only learn and teach things that you commonly see tutorials for on the internet like web development or how to play guitar.We want those plus anything you can think of that you'd like to learn. ie: Cooking the perfect meatballs, Laying Tile, Shooting a bow and arrow</p>
      <p> When we say anything we mean it. We'd like to see people learning small projects like <i>"Teach me to do a kickflip on a skateboard"</i> to the big ones such as <i>"My engine fell out of my car and I want someone to show me how to fix it because it happens every week.</i> We hope this is not the case, but if it is that someone will offer to help. Guitar lessons and web development definitely should be in here but we would like people to be as creative as possible of what they can show others.</p>
    </div>
    <div class="images-wrapper"></div>
  </div>
  <div class="side-image example-climb">
    <div class="images-wrapper"></div>
    <div class="content">
      <h4>A Simple Example</h4>
      <h1>Example of how SkillClimb works.</h1>
      <%= render "refills/grid_items_example_skill" %>
      <!-- <h4>A Simple Example</h4>
      <h1>Example of how SkillClimb works.</h1>
      <p>Say your lawnmower breaks down and you doesn't know how to fix it.</p>
      <p>You log on to Skill Climb and search for keywords such as repair, lawn equipment, or yard work.</p>
      <p>Results will automatically be filtered to your zip and surrounding area.</p>
      <p>You find Brian. His bio says that he can fix nearly anything and perhaps some examples or reviews of others he has helped.</p>
      <p>You send a request to Brian with a short description saying he has no idea whats wrong but says that the Lawnmower just won't start</p>
      <p>Brian will get an alert and respond to you if he would like to take on the project.</p>
      <p> You and Brian set up a time and place to meet(this could be your house, your shop, their house. Whatever works for the project.) and get started on the knowledge transfer.</p>
      <p> You and Brian figure it out within about 30 minutes and go to buy the parts.</p>
      <p> Now you work on the project together and fix your lawnmower in a few hours and you've learned a new skil and can now fix it yourself if the problem returns.</p>
    </div> -->
  </div>

