<div class="sign-up-content">
  <div class="content">
    <h4>Sign Up</h4>
    <h4>Start Earning & Learning</h4>
      <p>After signing up you'll be able to contact others and start working on projects together.</p>
    </div>
</div>
