<div class="sign-up-content">
  <div class="content">
    <h4>Sign Up and Get Started!</h4>
      <p>After signing up you'll be able to contact others and start working on projects together. We home you use SkillClimb a lot and learn new things everyday! Now fill out that form and get out there!</p>
    </div>
</div>
