<div class="raised-box-content">
  <div class="content">
    <h4 class='subject'>Sign Up</h4>
    <h4 class='subject'>Start Earning & Learning</h4>
      <p class='description'>After signing up you'll be able to contact others
        <br />
        and start working on projects together.</p>
    </div>
</div>
